<div class="device-contents">
    <div nz-row class="container-nav"  [hidden]="!isShow">
      <div nz-col nzSpan="16">
        <app-enterprise-query [queryType]="queryType" (queryInput)="queryInput($event)"></app-enterprise-query>        
      </div>
      <div nz-col nzSpan="8">
          <div style="text-align: right; margin-right: 10px">
            <button nz-button nzType="primary" (click)="dialogOpen(null, 0)"><i class="anticon anticon-plus-circle-o"></i>{{ 'DEVICE.ADDBUTTON' | translate }}</button>
          </div>
      </div>
    </div>
    <div [ngClass]="'data-table-contents'" [hidden]="!isShow">
      <nz-table
        #rowSelectionTable
        [nzData]="deviceListService.deviceData"
        (nzCurrentPageDataChange)="deviceListService.currentPageDataChange($event)"
        (nzPageIndexChange)="deviceListService.refreshStatus()"
        (nzPageSizeChange)="deviceListService.refreshStatus()"
        [nzShowQuickJumper]="true"
        [nzScroll]="{ x: '1500px' }"
        [nzPageSize]="5"
        [nzTotal]="deviceListService.dataTotal">
        <thead>
          <tr>
            <!-- <th nzShowCheckbox [(nzChecked)]="deviceListService.allChecked" [nzIndeterminate]="deviceListService.indeterminate" (nzCheckedChange)="deviceListService.checkAll($event)"></th> -->
            <th>Device SN</th>
            <th>Device Name</th>
            <th>Enterprise ID</th>
            <th width="150">SIM ICCID</th>
            <th>State</th>
            <th>Diagnostics</th>
            <th>RuleSet Name</th>
            <th>Operation</th>
          </tr> 
        </thead>
        <tbody>
          <tr *ngFor="let data of rowSelectionTable.data">
            <!-- <td nzShowCheckbox [(nzChecked)]="data.checked" [nzDisabled]="data.disabled" (nzCheckedChange)="deviceListService.refreshStatus($event)"></td> -->
            <td>
                <div>{{data.deviceId}}</div>
            </td>
            <td>
              <div>{{data.deviceName}}</div>
            </td>
            <td>{{data.enterpriseId | enterpriseName}}</td>
            <td>{{data.iccid}}</td>
            <td>
              <app-device-status [status]="data.status"></app-device-status>
            </td>
            <td>
                <img src="../../../assets/images/bs.png"  *ngIf="data.iccid" (click)="diagnostics(data)" style="width: 30px; height: 30px; "/>
            </td>
            <td>{{data.rulesetName}}</td>
            <td>
              <button nz-button nzType="primary" nzSize="small" (click)="showDevice(data)" [nzGhost]="true"  style="margin-right: 10px;">
                <i class="anticon anticon-search"></i>Device Info
              </button>

              <button nz-button nzType="primary" *ngIf="!data.status" nzSize="small" (click)="dialogOpen(data, 1)" [nzGhost]="true"  style="margin-right: 10px;">
                  <i class="anticon anticon-edit"></i>Modify
              </button>

              <button nz-button nzType="danger" *ngIf="!data.status && data.iccid" nzSize="small" style="margin-top: 10px;" (click)="delBand(data.deviceId)" [nzGhost]="true">
                  <i class="anticon anticon-delete"></i>Unlock SIM
               </button>

              <button nz-button nzType="danger" *ngIf="!data.status && !data.iccid" nzSize="small" style="margin-top: 10px;" (click)="deleteDevice(data.deviceId)" [nzGhost]="true">
                  <i class="anticon anticon-delete"></i>Delete
              </button>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <app-diagnostics-dialog></app-diagnostics-dialog>
      <app-device-form-dialog (upDateDevice)="upDateDevice($event)" (addDevice)="addDevice($event)"></app-device-form-dialog>
    </div>
  </div>