<agm-map [ngStyle]="{'height': 'calc(100vh - 60px)'}" [latitude]="lat" [longitude]="lng" [zoom]="zoomValue">
    <agm-marker *ngFor="let item of device" [latitude]="item.latitude / 1000000" [longitude]="item.longitude / 1000000" [iconUrl]="'../../../assets/images/device_' + item.state + '.png'" (markerClick)="showView(item, 1)">
        <agm-snazzy-info-window [showCloseButton]="false"  [maxWidth]="350" [maxHeight]="370" padding="0" [isOpen]="item.isOpen">
            <ng-template>
                <app-device-info-window (closeWin)="closeWinD($event)" [vehicles]="item"></app-device-info-window>
            </ng-template>
        </agm-snazzy-info-window>
    </agm-marker>
    <agm-marker *ngFor="let item of container"  [latitude]="item.latitude / 1000000" [longitude]="item.longitude / 1000000" [iconUrl]="'../../../assets/images/container_' + item.state + '.png'" (markerClick)="showView(item, 0)">
        <agm-snazzy-info-window [showCloseButton]="false"  [maxWidth]="350" [maxHeight]="370" padding="0" [isOpen]="item.isOpen">
            <ng-template>
                <app-container-info-window (closeWin)="closeWinC($event)" [item]="item"></app-container-info-window>
            </ng-template>
        </agm-snazzy-info-window>
    </agm-marker>
</agm-map>