<nz-modal [nzWidth]="600" [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="handleCancel($event)">
    <ng-template #modalTitle>
      Info
    </ng-template>
    <ng-template #modalContent>
      <div class="dialog-form-content">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="from" nzRequired>From</nz-form-label>
            <nz-form-control  [nzSm]="14" [nzXs]="24">
              <nz-select id="from" formControlName="from" nzPlaceHolder="Select a city" (ngModelChange)="fromChange($event)">
                <nz-option *ngFor="let option of getCityService.lineList" [nzLabel]="option.fromCityName" [nzValue]="option"></nz-option>                
              </nz-select>
              <nz-form-explain *ngIf="validateForm.get('from').dirty && validateForm.get('from').errors">Please select your from city!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="to" nzRequired>To</nz-form-label>
            <nz-form-control  [nzSm]="14" [nzXs]="24">
              <nz-select id="to" formControlName="to" nzPlaceHolder="Select a city">
                <nz-option *ngFor="let option of toList" [nzLabel]="option.toCityName" [nzValue]="option"></nz-option>
              </nz-select>
              <nz-form-explain *ngIf="validateForm.get('to').dirty && validateForm.get('to').errors">Please select your to city!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control [nzOffset]="6" [nzSpan]="12">
              <button nz-button nzType="primary" [disabled]="!validateForm.valid">Start</button>
              <button nz-button [ngClass]="'button-cancel'"  (click)="handleCancel($event)">Cancel</button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </ng-template>
  </nz-modal>
  
  