<div class="statistical-query-form">
    <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item *ngIf="oneSelect" >
        <nz-form-control>
            <nz-select style="width: 200px;" id="enterpriseId" formControlName="enterpriseId" nzPlaceHolder="Select Enterprise" (ngModelChange)="checkEnterprise($event)" [nzAllowClear]="true">
              <nz-option *ngFor="let option of enterpriseListService.enterpriseData" [nzLabel]="option.enterpriseName" [nzValue]="option.enterpriseId"></nz-option>
            </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <nz-select style="width: 200px;" id="containerId" formControlName="containerId" nzPlaceHolder="Select ContainerId" [nzAllowClear]="true">
                <!-- <nz-option nzLabel="All" [nzValue]="-1"></nz-option> -->
                <nz-option *ngFor="let option of containerListService.queryData" [nzLabel]="option.containerName" [nzValue]="option.containerId"></nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <!-- <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary">{{ 'CONTAINER.SEARCHBUTTON' | translate }}</button>
        </nz-form-control>
      </nz-form-item> -->
    </form>
  </div>