<div class="gpu-charts-content">
    <h4 class="charts-title">{{statusService.title}}(%)</h4>
    <v-chart [forceFit]="forceFit" [height]="height" [padding]="padding" [data]="statusService.data" [scale]="statusService.scale" [animate]="false">
      <v-coord type="polar" [startAngle]="-202.5" [endAngle]="22.5" [radius]="0.75"></v-coord>
      <v-axis
        dataKey="value"
        [zIndex]="2"
        [line]="null"
        [subTickCount]="4"
        [grid]="null"
        [label]="statusService.axisLabel"
        [subTickLine]="statusService.axisSubTickLine"
        [tickLine]="statusService.axisTickLine"
      ></v-axis>
      <v-axis dataKey="1" [show]="false"></v-axis>
      <v-series
        gemo="point"
        position="value*1"
        shape="pointer"
        color="#8C8C8C"
        [active]="false"
      ></v-series>
      <v-guide type="arc" [zIndex]="0" [top]="false" [start]="statusService.arcGuideBgStart" [end]="statusService.arcGuideBgEnd" [style]="statusService.arcGuideBgStyle"></v-guide>
      <v-guide type="arc" [zIndex]="1" [start]="statusService.arcGuideLowStart" [end]="statusService.arcGuideLowEnd" [style]="statusService.arcGuideLowStyle"></v-guide>
      <v-guide type="arc" [zIndex]="1" [start]="statusService.arcGuideMidStart" [end]="statusService.arcGuideMidEnd" [style]="statusService.arcGuideMidStyle"></v-guide>
      <v-guide type="arc" [zIndex]="1" [start]="statusService.arcGuideHighStart" [end]="statusService.arcGuideHighEnd" [style]="statusService.arcGuideHighStyle"></v-guide>
      <v-guide
        type="html"
        [position]="statusService.htmlGuidePosition"
        [html]="statusService.htmlGuideHtml"
      ></v-guide>
    </v-chart>
  </div>